*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.cache
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
.idea/
.idea_modules/
.project
.pydevproject
.scala_dependencies
.settings
build/apache-maven*
build/scala*
target/
dist/
kyuubi-*-bin-*
*.gz
logs/
out/
hs_err_pid*

