*#*#
*.#*
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.cache
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
.idea/
.idea_modules/
.project
.pydevproject
.scala_dependencies
.settings
build/apache-maven*
build/scala*
build/test
kyuubi-server/build
kyuubi-server/*example*
target/
dist/
kyuubi-*-bin-*
*.gz
logs/
pid/
local/
out/
hs_err_pid*
spark-warehouse/
metastore_db
derby.log
ldap
*/dependency-reduced-pom.xml
*/*/dependency-reduced-pom.xml
kyuubi-server/kyuubi-kdc/
metrics/report.json
metrics/.report.json.crc
/kyuubi-ha/embedded_zookeeper/
embedded_zookeeper/
/externals/kyuubi-spark-sql-engine/kyuubi_operation_logs/
/externals/kyuubi-spark-sql-engine/spark-warehouse/
/work/
