#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

*#*#
*.#*
*.db
*.iml
*.ipr
*.iws
*.pyc
*.pyo
*.swp
*~
.DS_Store
.cache
.classpath
.ensime
.ensime_cache/
.ensime_lucene
.generated-mima*
.vscode/
.idea/
.idea_modules/
.project
.pydevproject
.python-version
.scala_dependencies
.settings
build/apache-maven*
build/release/tmp
build/release/*.txt
build/scala*
build/test
target/
dist/
apache-kyuubi-*-bin*
*.gz
logs/
pid/
local/
out/
hs_err_pid*
spark-warehouse/
metastore_db
derby.log
rest-audit.log
**/.flattened-pom.xml
**/dependency-reduced-pom.xml
metrics/
/kyuubi-ha/embedded_zookeeper/
embedded_zookeeper/
/externals/kyuubi-spark-sql-engine/operation_logs/
/externals/kyuubi-spark-sql-engine/engine_operation_logs/
/externals/kyuubi-spark-sql-engine/spark-warehouse/
/work/
/upload/
/docs/_build/
/kyuubi-common/metrics/
/kyuubi-server/metrics/
**/operation_logs/
**/server_operation_logs/
**/engine_operation_logs/
conf/log4j2.xml
conf/kyuubi-defaults.conf
conf/kyuubi-env.sh
.java-version

# For Antlr
kyuubi-server/gen
kyuubi-server/src/main/antlr4/org/apache/kyuubi/sql/*.tokens
kyuubi-server/src/main/antlr4/org/apache/kyuubi/sql/gen/

# For draw.io
.$*.bkp
.$*.dtmp
