$--colors: (
        "primary": (
                "base": #242e42,
        ),
        "success": (
                "base": #21ba45,
        ),
        "warning": (
                "base": #f2711c,
        ),
        "danger": (
                "base": #db2828,
        ),
        "error": (
                "base": #db2828,
        ),
        "info": (
                "base": #2F9688,
        ),
);

$--menus: (
        "item-height": 46px,
        'icon-width': 24px,
        'text-color': 'rgba(255, 255, 255, .75)',
        'hover-text-color': '#fff',
        'hover-bg-color': '#1890ff',
        'bg-color': '#001529',
        'active-color': '#1890ff'
);

@forward "element-plus/theme-chalk/src/common/var.scss" with (
    // do not use same name, it will override.
    $colors: $--colors,
    $menu: $--menus,
    // $button-padding-horizontal: ("default": 50px)
);
