<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <link rel="shortcut icon" th:href="@{/favicon.ico}" type="image/x-icon">
    <title></title>
    <!-- Bootstrap -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet">
    <link th:href="@{/theme.css}" rel="stylesheet">

    <script th:src="@{/common.js}"></script>
    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
    <script th:src="@{/jquery-3.5.1.min.js}"></script>
    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/highcharts.js}"></script>
    <script th:src="@{/bootstrap-notify.min.js}"></script>
    <script th:src="@{/date.js}"></script>
    <script th:src="@{/clipboard.min.js}"></script>
</head>
<body>
<style>
    .table td.text {
        max-width: 430px;
    }

    .table td.text span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        max-width: 100%;
    }

</style>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <a class="navbar-brand navbar-left" style="padding:5px">
        <img th:src="@{/logo.png}" style="display:inline-block;height: 100%;"/>
    </a>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a th:href="@{/rest/index}">Home</a></li>
                <li><a th:href="@{/rest/contexts}">Contexts</a></li>
                <li><a th:href="@{/rest/sessions}">Sessions</a></li>
                <li><a th:href="@{/rest/statements}">Statements</a></li>
                <li><a th:href="@{/rest/queues}">Queues</a></li>
                <li><a th:href="@{/rest/envs}">Envs</a></li>
                <!--                <li><a href="#history">History</a></li>-->
<!--                <li><a th:href="@{/rest/metrics/metrics(pretty=true)}" target="_blank">Metrics</a></li>-->
            </ul>

            <div class="nav navbar-nav navbar-right">
                <button class="btn btn-inverse" style="margin-top: 10px" onclick="logout()"><strong>Logout</strong>
                </button>
            </div>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container theme-showcase" role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h2>Kyuubi </h2>
        <br/>
        <p>
            Current total running SparkContext num: <span th:text="*{runningContexts} ?: 'error'">0</span>,
            running Statement: <span th:text="*{runningStatementNum} ?: 'error'">0</span>
        </p>
    </div>

    <div class="panel panel-default" style="display:flex;flex-flow:row wrap;" th:each="server : ${servers}">
        <div>
            <p class="navbar-text">
                Kyuubi Server Location:
                <a
                        href="javascript:void(0)"
                        th:text="'thrift://' + ${server.ip} + ':' + ${server.thrift_port}">
                    http://test.com
                </a>
                <button type="button" class="btn btn-danger btn-xs" th:attr="server-id=${server.server_id}"
                        data-toggle="modal"
                        data-target="#myModal">删除
                </button>
            </p>
        </div>
        <div class="panel-body">
            <div>
                <div chart-for="connection" th:attr="server-id=${server.server_id}"
                     style="width: 360px;height:300px;display: inline-block;"></div>
                <div chart-for="query" th:attr="server-id=${server.server_id}"
                     style="width: 360px;height:300px;display: inline-block;"></div>
                <div chart-for="jvm" th:attr="server-id=${server.server_id}"
                     style="width: 360px;height:300px;display: inline-block;"></div>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">SQL耗时 Top 10: 7天内</h3>
        </div>
        <div class="panel-body">
            <table style="width: 100%" class="table table-bordered">
                <thead>
                <tr>
                    <th>ApplicationId</th>
                    <th>用户</th>
                    <th>队列</th>
                    <th style="max-width: 400px">SQL</th>
                    <th>状态</th>
                    <th>耗时</th>
                    <th>开始时间</th>
                    <th>结束时间</th>
                    <th>Links</th>
                </tr>
                </thead>
                <tr th:each="statement : ${statements}">
                    <td>
                        <span th:text="${statement.contextId}" ></span>
                    </td>
                    <td th:text="${statement.owner}"></td>
                    <td th:text="${statement.queue}"></td>
                    <td class="text">
                        <span th:text="${statement.code}" data-toggle="tooltip"
                              th:attr="title=${statement.code}"></span>
                        <button type="button" class="btn btn-xs btn-clip"
                                data-clipboard-action="copy"
                                th:attr="data-clipboard-text=${statement.code}">复制
                        </button>
                    </td>
                    <td>
                        <span th:text="${statement.state}"></span>
                    </td>
                    <td th:text="${statement.runtime}"></td>
                    <td th:text="${statement.start_time}"></td>
                    <td th:text="${statement.finish_time}"></td>
                    <td>
                        <a class="btn btn-default btn-xs" th:href="@{/rest/statements(statementId=${statement.id})}">Sql</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">用户提交SQL统计：7天内</h3>
        </div>
        <div class="panel-body">
            <table style="width: 100%" class="table table-bordered">
                <thead>
                <tr>
                    <th>用户</th>
                    <th>Total Submit</th>
                    <th>Successful</th>
                    <th>Failed</th>
                </tr>
                </thead>
                <tr th:each="rank : ${userRanks}">
                    <td th:text="${rank.owner}"></td>
                    <td>
                        <a th:text="${rank.total}" th:href="@{/rest/statements(owner=${rank.owner},startTime=${userRankStartTime})}"></a>
                    </td>
                    <td th:text="${rank.success}"></td>
                    <td>
                        <a th:text="${rank.failure}" th:href="@{/rest/statements(owner=${rank.owner},state=error,startTime=${userRankStartTime})}"></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">提示</h4>
            </div>
            <div class="modal-body">确认删除该Kyuubi服务的指标数据吗？</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="ensure-button">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    ctxPath = /*[[${#httpServletRequest.getScheme() + "://" + #httpServletRequest.getServerName() + ":" + #httpServletRequest.getServerPort() + #httpServletRequest.getContextPath()}]]*/ '';
    /*]]>*/
</script>
<script>
    // page context object.
    var pgx = new Object();

    function setOption(title, data, yTitle) {
        // 图表配置
        var options = {
            chart: {
                type: 'line'                          //指定图表的类型，默认是折线图（line）
            },
            title: {
                text: title                 // 标题
            },
            yAxis: {
                title: {
                    text: yTitle ? yTitle : '数量'                // y 轴标题
                }
            },
            xAxis: {
                categories: data.categories,
                labels: {
                    formatter: function () {
                        return this.value;
                    }
                }
            },
            series: data.series
        };
        return options;
    }

    $(function () {
        var clipboard = new ClipboardJS('.btn-clip');
        var curTime = new Date();
        var addMinute = new Date(curTime.setMinutes(curTime.getMinutes() - 15));
        // 图表初始化函数
        $("div[chart-for='connection']").each(function () {
            var thiz = $(this)
            var serverId = $(this).attr("server-id")
            $.ajax({
                url: ctxPath + '/rest/metric',
                data: {
                    serverId: serverId,
                    name: 'open_connections,total_connections',
                    startTime: addMinute.Format("yyyy-MM-dd hh:mm:ss"),
                    endTime: new Date().Format("yyyy-MM-dd hh:mm:ss"),
                },
                success: function (data) {
                    Highcharts.chart(thiz[0], setOption("连接数", data));
                }
            })
        });

        $("div[chart-for='query']").each(function () {
            var thiz = $(this)
            var serverId = $(this).attr("server-id")
            $.ajax({
                url: ctxPath + '/rest/metric',
                data: {
                    serverId: serverId,
                    name: 'total_queries,error_queries,running_queries',
                    startTime: addMinute.Format("yyyy-MM-dd hh:mm:ss"),
                    endTime: new Date().Format("yyyy-MM-dd hh:mm:ss"),
                },
                success: function (data) {
                    Highcharts.chart(thiz[0], setOption("查询数", data));
                }
            })
        });
        $("div[chart-for='jvm']").each(function () {
            var thiz = $(this)
            var serverId = $(this).attr("server-id")
            $.ajax({
                url: ctxPath + '/rest/metric',
                data: {
                    serverId: serverId,
                    name: 'total.used,total.max',
                    startTime: addMinute.Format("yyyy-MM-dd hh:mm:ss"),
                    endTime: new Date().Format("yyyy-MM-dd hh:mm:ss"),
                },
                success: function (data) {
                    Highcharts.chart(thiz[0], setOption("JVM内存", data, "GB"));
                }
            })
        })

        $("button[server-id]").on("click", function () {
            var serverId = $(this).attr("server-id")
            pgx.serverId = serverId;
        })

        $("#ensure-button").on("click", function () {
            let serverId = pgx.serverId;
            $.ajax({
                url: ctxPath + '/rest/metric/del',
                data: {serverId: serverId},
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    $("#myModal").modal('hide')
                    if (data.code === 0) {
                        $.notify({
                            message: "操作成功"
                        }, {
                            'type': 'success'
                        });
                    } else {
                        $.notify({
                            message: data.msg
                        }, {
                            'type': 'danger'
                        });
                    }
                }
            })
        })
    })
</script>

</body>
</html>