#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#    http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

name: License check

# This GitHub workflow checks Apache License v2.0 Header is added if needed

on:
  pull_request:
    branches:
      - master
      - branch-*

concurrency:
  group: license-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  rat:
    name: License
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v4
      - name: Setup JDK 8
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 8
          cache: 'maven'
          check-latest: false
      - run: >-
          build/mvn org.apache.rat:apache-rat-plugin:check
          -Ptpcds -Pkubernetes-it
          -Pspark-3.2 -Pspark-3.3 -Pspark-3.4 -Pspark-3.5
      - name: Upload rat report
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: rat-report
          path: "**/target/rat*.txt"
