name: Kyuubi

on:
  push:
    branches:
      - master
      - branch-*
  pull_request:
    branches:
      - master
      - branch-*

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        profiles:
          - '-Pspark-3.0 -Phadoop-2.7'
          - '
          - '-Pspark-3.1 -Phadoop-2.7'
          - '-Pspark-3.1 -Phadoop-3.2'
    steps:
      - uses: actions/checkout@v2
      - name: Setup JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: '1.8'
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository/com
          key: ${{ runner.os }}-maven-com-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-com-
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository/org
          key: ${{ runner.os }}-maven-org-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-org-
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository/net
          key: ${{ runner.os }}-maven-net-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-net-
      - uses: actions/cache@v1
        with:
          path: ~/.m2/repository/io
          key: ${{ runner.os }}-maven-io-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-io-
      - name: Build with Maven
        run: |
          mvn clean install ${{ matrix.profiles }} -Dmaven.javadoc.skip=true -V
          bash <(curl -s https://codecov.io/bash)
      - name: Collect unit tests log
        run: |
          mv kyuubi-common/target/unit-tests.log kyuubi-common_unit-tests.log
          mv kyuubi-main/target/unit-tests.log kyuubi-main_unit-tests.log
      - name: Upload unit tests log
        uses: actions/upload-artifact@v2
        with:
          name: unit-tests-log
          path: |
            kyuubi-common_unit-tests.log
            kyuubi-main_unit-tests.log
          retention-days: 30
#      - name: Codecov kyuubi-common
#        uses: codecov/codecov-action@v1
#        with:
#          file: ./kyuubi-common/target/codecov/jacoco.xml
#          flags: kyuubi-common
#      - name: Codecov kyuubi-ha
#        uses: codecov/codecov-action@v1
#        with:
#          file: ./kyuubi-ha/target/codecov/jacoco.xml
#          flags: kyuubi-ha
#      - name: Codecov kyuubi-spark-sql-engine
#        uses: codecov/codecov-action@v1
#        with:
#          file: ./externals/kyuubi-spark-sql-engine/target/codecov/jacoco.xml
#          flags: kyuubi-spark-sql-engine
#      - name: Codecov kyuubi-main
#        uses: codecov/codecov-action@v1
#        with:
#          file: ./kyuubi-main/target/codecov/jacoco.xml
#          flags: kyuubi-main
